{% extends 'base_generic.html' %}
{% block title %}<title>Webapp Signup or Login</title>{% endblock %}
{% block content %}
  <h1>Create an Account or<a href="{% url 'login'%}?next={%  url 'user-home' %}"> Login</a>.</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}